:root {
	--title: 4rem;
	--subtitle: 1.5rem;
	--white: #fffffa;
	--black: #252525;
	--red: #ff312e;
	--gray: #333138;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
}

html {
	font-size: 62.5%;
}
body {
	font-size: 1.6rem;
}

a {
	text-decoration: none;
}

h4 {
	color: var(--white);
}

/* .App {
	display: flex;
} */

.pokedex-img {
	width: 30%;
	height: 20%;
}

/* INPUT NAME */
.background {
	width: 100%;
	height: 100%;
	z-index: -1;
}

/* ----------------------------------------- */
/* POKEMON CARD  */

/* ----------------------------------------- */

/* POKEMON LIST  */

.title-container {
	color: var(--black);
	width: 100%;
	padding: 2rem;
	background: linear-gradient(180deg, var(--white) 70%, var(--black) 71%);
}

/* .input-pokemon-main {
	display: flex;
	justify-content: center;
	margin-bottom: 2rem;
} */

.input-pokemon {
	height: 4rem;
	width: 30rem;
	border-radius: 0 0 0 0.7rem;
	border: none;
	background: var(--white);
}

.button-input-pokemon {
	border: none;
	padding: 0 0.5rem;
	cursor: pointer;
	background: var(--gray);
	color: var(--white);
}

.select-type {
	border-radius: 0 0 0.7rem 0;
	border: none;
	padding: 0 0.5rem;
	color: var(--white);
	background: var(--black);
}

.pokemon-list-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(5, 1fr);
	grid-column-gap: 1rem;
	grid-row-gap: 1rem;
	align-items: center;
	justify-items: center;
	list-style: none;
	margin-bottom: 5rem;
}

/* ----------------------------------------------- */

/* POKEMON CARD */
.card-container {
	list-style: none;
	text-decoration: none;
}

/* ------------------------------------ */

/* POKEMON DETAIL  */

.detail-main-container {
	width: 100%;
	height: 100%;
	background-image: repeating-linear-gradient(
		45deg,
		#0000004d 0,
		#0000003f 1px,
		transparent 0,
		transparent 50%
	);
	background-size: 56px 56px;
	background-color: #ffffff;
}

.buttons-container {
	display: flex;
	justify-content: space-between;
}

.button-back,
.button-next {
	width: 69rem;
	height: 8rem;
	font-size: var(--title);
}

.button-back {
	border-radius: 0 0 20rem 0;
}

.button-next {
	border-radius: 0 0 0 20rem;
}

.pokemon-main-details {
	background: #bebebe56;
}

.pokemon-name-detail {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 5rem;
	font-size: var(--title);
	background: #bebebe56;
}

.pokemon-details-main {
	display: flex;
	justify-content: center;
	align-items: center;
}

.pokemon-principal-features {
	display: inline-block;
	position: relative;
}
.curios-detail {
	max-width: 40rem;
	font-size: 2.5rem;
}

.img-pokemon-detail {
	width: 40rem;
	height: 40rem;
}

.features-detail {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	gap: 2rem;
	padding: 5rem 3rem;
	border-radius: 0.7rem 0.7rem 0 0;
	background: var(--gray);
	font-size: 2rem;
}

.subtitle {
	font-size: var(--subtitle);
	color: var(--white);
	margin: 0rem 0rem 2.5rem 0rem;
}

.p-detail {
	font-size: 2.5rem;
}
.final-details {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(1, 1fr);
	gap: 2rem;
	padding: 3rem 2rem;
	border-radius: 0 0 0.7rem 0.7rem;
	background: var(--black);
}

.types-details-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(1, 1fr);
}

.p-types {
	text-align: center;
	font-size: 1.3rem;
	width: 8rem;
	border-radius: 0.7rem;
	padding: 0.3rem;
	background-color: var(--gray);
	color: var(--white);
	-webkit-text-stroke: 0.1rem rgb(0, 0, 0);
}
.types-details {
	color: var(--white);
	font-size: var(--subtitle);
}
